/*!
Custom CSS for CastorisCausa
This customs CSS is aimed to work with the pelican-kis theme

Raymundo Cassani
December 2019
/* Width of the row, original 1008px 94%*/
.row {max-width: 1320px; width: 100%;}

/* Change the format of the website from 8+4 to 9+3*/
.eight, .row .eight    { width: 75%; }
.four, .row .four      { width: 25%; }

/* Colors */
/* Top bar def: 159, 204, 127 OR #9FCC7F */
body {border-top-color: #9FCC7F;}
#nav-wrap {border-top-color: #9FCC7F;}
/* logo-text def: #93B876 */
header h1#logo-text a {color: #93B876;}
/* Links def #93B876, and #34393A */
a, a:visited {color: #93B876;}
a:hover, a:focus  {color: #34393A;}
/* Links in footer and #6C934D and #34393A */
footer a, footer a:visited {color: #6C934D;}
footer a:hover, footer a:focus {color: #34393A;}
/* Social icons in footer and #34393A and #6C934D */
footer ul li a, footer ul li a:visited { color: #34393A; }
footer ul li a:hover, footer ul li a:focus { color: #6C934D; }
/* Pagination current #93B876 */
.pagination .current, .pagination .current:hover {background-color: #93B876;}
/* 233,235,238 (#E9EBEE) and 147, 184, 118 (#93B876) */
#sidebar .tagcloud a {background-color: #E9EBEE;}
#sidebar .tagcloud a:hover {background-color: #93B876;}
/* + sign in Cathegories #9FCC7F */
ul#nav li.has-children > a::after { color: #9FCC7F;}


div.entry-content abbr {
   font-family: 'opensans-bold', sans-serif;
   font-variant: inherit;
   text-transform: inherit;
   letter-spacing: .5px;
   color: #93B876;
}

/* Allow lowercase in Sidebar Tags */
#sidebar .tagcloud a {text-transform: none;}

/* Total header height, original 288 */
header, header .header-content{height: 256px;}

/* Letter spacing, original -5px */
header h1#logo-text a {letter-spacing: 0px;}

/* Padding for content-wrap*/
#content-wrap {padding: 20px 0 0 0;}

/* Padding for footer */
footer {padding-top: 15px; margin-bottom: 20px}
footer .social-links{margin-bottom: 30px}
.entry {padding-bottom: 5px; margin-bottom: 5px}

/* Shows a + sign for a Menu item with child */
ul#nav li.has-children > a::after {
 content: "+";
 padding-left: 5px;
 font-weight: bold;
}

/* Shows a - sign for a Menu item with child when Hover */
ul#nav li.has-children:hover > a:after { content: "-"; }

/* Space after tags in index and article */
p.tags{margin-bottom: 15px}

/* Place disc indicators for ul tag in Page and Article content*/
section.page ul, div.entry-content ul {margin-left: 17px; list-style: disc}

/* Makes the hyperlinks in article content are shown in different color*/
 /* a, div.entry-content h1 a {margin-left: 17px; list-style: disc}*/
div.entry-content h1 a, div.entry-content h1 a:visited,
div.entry-content h2 a, div.entry-content h2 a:visited,
div.entry-content h3 a, div.entry-content h3 a:visited,
div.entry-content h4 a, div.entry-content h4 a:visited,
div.entry-content h5 a, div.entry-content h5 a:visited,
div.entry-content h6 a, div.entry-content h6 a:visited
 {
   text-decoration: none;
   outline: 0;
   color: #93B876;

   -webkit-transition: color .3s ease-in-out;
   -moz-transition: color .3s ease-in-out;
   -o-transition: color .3s ease-in-out;
   transition: color .3s ease-in-out;
}
div.entry-content h1 a:hover, div.entry-content h1 a:focus,
div.entry-content h2 a:hover, div.entry-content h2 a:focus,
div.entry-content h3 a:hover, div.entry-content h3 a:focus,
div.entry-content h4 a:hover, div.entry-content h4 a:focus,
div.entry-content h5 a:hover, div.entry-content h5 a:focus,
div.entry-content h6 a:hover, div.entry-content h6 a:focus
{ color: #34393A; }

/* p a, p a:visited { line-height: inherit; } */


/* Makes that strong inherits size in Page and Article content*/
section.page strong, div.entry-content strong {font-size: inherit; font-weight: bold}

/* Padding for <pre> tag, used for code to have a space around the code*/
pre {padding-left: 5px}

/* Inherits attributes for #tipue_search_input */
#tipue_search_input {
  float:inherit;
  font:inherit;
  color: #B1B1B1;
  background: #E9EBEE;
  padding: inherit;
  height: inherit;
  box-sizing: inherit;
  outline: inherit;
  margin: inherit;
}

#tipue_search_input:focus {
  background: #AFB7BE;
  color: #FFFFFF;
}

/* Adjust the color for Published and Modified dates in article info*/
.entry .entry-meta ul {
  color: #888888;
  margin-bottom: 15px;
}
.entry .tags {
  margin-top: 5px;
}

/* Centers header image posts */
.post-thumb img{display: block; margin-left: auto; margin-right: auto;}

/* Justify psot body and summary in index */
p, .entry-content {text-align: justify;}

/* Font and size for links in Link and Categorie sidebar*/
.widget_categories a {font-family: 'opensans-semibold', sans-serif; font-size: 20px;}

/* Font main header */
header h1#logo-text a {font-family: 'opensans-semibold'}

/* Font for ToC title */
.toctitle {
  color: #444;
  font-family: 'opensans-semibold', sans-serif;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 12px;
}

/* series margins */
.series p {margin-bottom: 6px;}
div.entry-content .series ol, div.entry-content .series ul {margin-left: 35px; margin-top: 6px}
