/*!
Custom CSS for CastorisCausa
This customs CSS is aimed to work with the pelican-kis theme

Raymundo Cassani
December 2019
/* Width of the row, original 1008px 94%*/
.row {max-width: 1320px; width: 100%;}

/* Change the format of the website from 8+4 to 9+3*/
.eight, .row .eight    { width: 75%; }
.four, .row .four      { width: 25%; }


@media DISABLED {
:root{
  --color-01: #9FCC7F; /* Border top */
  --color-02: #93B876; /* TitleText, Link, CurrentPageButtonBg, TagBgHover, Abb, LinkInHeader */
  --color-03: #34393A; /* LinkHov, FooterLinkHov, FaLink, FaFooter */
  --color-04: #6C934D; /* FooterLink, FaLinkHov, FaFooterHov */
  --color-05: #E9EBEE; /* TagBg, TipuBg*/
  --color-06: #DBECD0; /* CodeBg*/
  --color-07: #B1B1B1; /* TipuTextDefault*/
  --color-08: #AFB7BE; /* TipuBgSelected*/
  --color-09: #FFFFFF; /* TipuTextSelected, TagTextHov, CodeNormalText*/
  --color-10: #888888; /* Metadata */
  --color-11: #444444; /* TocTitle*/
  --color-12: #CCCCCC; /* Numbers in code block*/
  --color-13: #4A5153; /* BodyText*/
  --color-14: #7BA857; /* GoTopBgHov*/
  --color-15: #494949; /* GoTopBg*/
  --color-16: #F5F4F3; /* NavBg*/
  --color-17: #778888; /* TagText*/
  --color-18: #F6F5F5; /* BodyBg Layout (Footer) */
  --color-19: #838A91; /* Pagination hover */
  --color-20: #E6E8EB; /* Pagination inactive text*/
  --color-21: #A9ADB2; /* Pagination inactive text*/
}
}

/* Colors solid: 347336, pastel: CCDCCD */
:root{
  --color-solid:  #347336;
  --color-pastel: #CCDCCD; /* (3/4 * (white-solid)) + solid */
  --color-text:   #252525;
  --color-gray-1: #404040;
  --color-gray-2: #646464;
  --color-gray-3: #808080;
  --color-gray-4: #e0e0e0;
  --color-white:  #ffffff;
}


/* Colors */
/* Top bar. Default: #9FCC7F */
body {border-top-color: var(--color-solid);}
#nav-wrap {border-top-color: var(--color-solid);}

/* Navigation bar background. Default: #F5F4F3 */
#nav-wrap {background: var(--color-gray-4);}

/* Navigation bar Links. Defaul #666666 and #222222*/
ul#nav li a {color: var(--color-gray-2);}
ul#nav li a:hover, ul#nav li a:focus  {color: var(--color-gray-1);}

/* top header background */
#top {background-color: var(--color-white);}

/* logo-text def: #93B876 */
header h1#logo-text a {color: var(--color-solid);}

/* Other Links in top  */
#top a, #top a.visited {color: var(--color-solid);}

/* Normal text in top header*/
header p#intro {color: var(--color-gray-2);}

/* Botton border of Header*/
header .header-content {border-bottom-color: var(--color-gray-3);}

/* Post Titles*/
.page h2, .entry h2, .entry h2 a{color:var(--color-text);}

/* h1, h2, h3, h4, h5, h6 */
h1, h2, h3, h4, h5, h6 {color:var(--color-text);}

/* Makes the hyperlinks in article content are shown in different color*/
/* Keeps font properties but color*/
div.entry-content h1 a, div.entry-content h1 a:visited,
div.entry-content h2 a, div.entry-content h2 a:visited,
div.entry-content h3 a, div.entry-content h3 a:visited,
div.entry-content h4 a, div.entry-content h4 a:visited,
div.entry-content h5 a, div.entry-content h5 a:visited,
div.entry-content h6 a, div.entry-content h6 a:visited
{
  font: inherit;
  color: var(--color-solid);
}

div.entry-content h1 a:hover, div.entry-content h1 a:focus,
div.entry-content h2 a:hover, div.entry-content h2 a:focus,
div.entry-content h3 a:hover, div.entry-content h3 a:focus,
div.entry-content h4 a:hover, div.entry-content h4 a:focus,
div.entry-content h5 a:hover, div.entry-content h5 a:focus,
div.entry-content h6 a:hover, div.entry-content h6 a:focus
{color: var(--color-gray-1);}

/* metadata */
.entry .entry-meta ul {color: var(--color-gray-3);}
.entry .tags {color: var(--color-gray-3);}

/* entry header (Title and metadata)*/
.entry-header{background-color: var(--color-white);}

/* content background */
#content-wrap {background-color: var(--color-white);}

/* Text */
body {color: var(--color-text);} /* Text color */

/* Horizontal lines */
hr {border-color: var(--color-gray-3);}

/* Tipue default search bar, Text and Background */
#tipue_search_input
{
  color: var(--color-gray-1);
  background: var(--color-gray-4);
}

/* Tipue Hover&Focus search bar, Text and Background */
#tipue_search_input:focus, #tipue_search_input:focus
{
  color: var(--color-gray-1);
  background: var(--color-pastel);
}

/* Tagcloud default, Background and Text */
#sidebar .tagcloud a
{
  background-color: var(--color-gray-4);
  color: var(--color-gray-1)
}

/* Tagcloud Hover&Focus, Background and Text */
#sidebar .tagcloud a:hover, #sidebar .tagcloud a:focus
{
  background-color: var(--color-solid);
  color: var(--color-white);
}

/* Links Default and Hover&Focus */
a, a:visited {color: var(--color-solid);}
a:hover, a:focus  {color: var(--color-gray-1)}
a:hover { cursor:pointer; } /*pointer for <a> with onclick  */

/* TOC title */
.toctitle {
  color: var(--color-text);
}

/* Pagination default */
.pagination .page-numbers
{
  color: var(--color-gray-1);
  background-color: var(--color-gray-4);
}
/* Pagination Hover&Selcted */
.pagination .page-numbers:hover
{
  color: var(--color-white);
  background-color: var(--color-solid);
}
/* Pagination innactive */
.pagination .inactive, .pagination .inactive:hover
{
  visibility: hidden;
  color: var(--color-gray-3);
  background-color: var(--color-gray-4);
}
/* Pagination current */
.pagination .current, .pagination .current:hover
{
  color: var(--color-white);
  background-color: var(--color-solid);
}

/* Footer background */
body {background-color: var(--color-gray-4);}

/* FA in footer */
footer ul li a, footer ul li a:visited { color: var(--color-gray-1); }
footer ul li a:hover, footer ul li a:focus { color: var(--color-solid); }

/* Links in footer */
footer a, footer a:visited {color: var(--color-solid);}
footer a:hover, footer a:focus {color: var(--color-gray-1);}

/* FA Icons in posts and pages */
a.link-icon, a.link-icon:visited {color: var(--color-gray-1);}
a.link-icon:hover, a.link-icon:focus { color: var(--color-solid); }

/* Abbreviations */
div.entry-content abbr { color: var(--color-solid); }

/* Footer text */
footer {color: var(--color-gray-2);}

/* sign in Cathegories #9FCC7F */
ul#nav li.has-children > a::after { color: var(--color-solid);}

/* Go-top button */
#go-top a, #go-top a:visited {background-color: var(--color-gray-1); }
#go-top a:hover, #go-top a:focus {background-color: var(--color-solid); }

/* Improve display for code tag i.e, `xxx` in Markdown  */
code
{
  color: var(--color-gray-2);
  background-color: var(--color-pastel);
}

/* Boder for line number and code for Code blocks*/
/* improve code block display, one line with scroll */
pre { border-color: var(--color-gray-4); }

/* adjust the default color for code blocks */
.highlight pre{ color: var(--color-white); }




/*/////////////////////////////*/
/*/////////////////////////////*/
/*/////////////////////////////*/

/* Underline links */
ul#nav li a:hover, ul#nav li a:focus, a:hover, a:focus,
header h1#logo-text a:hover, header h1#logo-text a:focus
{
  text-decoration: underline;
}

/* Do not underline tagcloud nor pagination */
#sidebar .tagcloud a, .pagination .page-numbers
{text-decoration: none;}

/* Allow lowercase in Sidebar Tags */
#sidebar .tagcloud a {text-transform: none;}

/* Abbreviations */
div.entry-content abbr {
   font-family: 'opensans-bold', sans-serif;
   font-variant: inherit;
   text-transform: inherit;
   letter-spacing: .5px;
}

/* Improve display for code tag `xxx`  */
code {
  font-size: 1.05em;
  font-weight: bold;
}

/* Total header height, original 288 */
header, header .header-content{height: 256px;}

/* Letter spacing, original -5px */
header h1#logo-text a {letter-spacing: 0px;}

/* Subtitle format */
header p#intro {
  font-size: 22px;
  font-family: "opensans", sans-serif;
  padding-top: 5px;
}

/* Padding for content-wrap*/
#content-wrap {padding: 30px 0 0 0;}

/* Padding for footer */
footer {padding-top: 15px; margin-bottom: 20px}
footer .social-links{margin-bottom: 30px}
.entry {padding-bottom: 5px; margin-bottom: 5px}

/* Shows a + sign for a Menu item with child */
ul#nav li.has-children > a::after {
 content: "\f078";
 padding-left: 5px;
 font-weight: bold;
 font-family: "Font Awesome 5 Free"
}

/* Shows a - sign for a Menu item with child when Hover */
ul#nav li.has-children:hover > a:after {
  content: "\f077";
  padding-left: 5px;
  font-weight: bold;
  font-family: "Font Awesome 5 Free"
}

/* Space after tags in index and article */
p.tags{margin-bottom: 15px}

/* Place disc indicators for ul tag in Page and Article content*/
section.page ul, div.entry-content ul {margin-left: 17px; list-style: disc}

/* makes "strong" the links in posts */
div.entry-content a{
  font: 15px/30px 'merriweather-bold', sans-serif;
}

/* Makes that strong inherits size in Page and Article content*/
section.page strong, div.entry-content strong {font-size: inherit; font-weight: bold}

/* Padding for <pre> tag, used for code to have a space around the code*/
pre {padding-left: 5px}

/* Inherits attributes for #tipue_search_input */
#tipue_search_input {
  float:inherit;
  font:inherit;
  height: 40px;
  box-sizing: inherit;
  outline: inherit;
  margin: inherit;
}

/* Adjust margins in metadata*/
.entry .entry-meta ul {margin-bottom: 15px;}
.entry .tags {margin-top: 5px;}

/* Centers header image posts */
.post-thumb img{display: block; margin-left: auto; margin-right: auto;}

/* Justify post body and summary in index */
p, .entry-content, table {text-align: justify;}

/* Top margin for summary in index */
div.entry-content{
  margin-top: 10px;
}

/* Font and size for links in Link and Categorie sidebar*/
.widget_categories a {font-family: 'opensans-semibold', sans-serif; font-size: 20px;}

/* Font main header */
header h1#logo-text a {font-family: 'opensans-semibold'}

/* Font for ToC title */
.toctitle {
  font-family: 'opensans-semibold', sans-serif;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 12px;
}

/* series margins */
.series p {margin-bottom: 6px;}
div.entry-content .series ol, div.entry-content .series ul {margin-left: 35px; margin-top: 6px}

/* improve code block display, one line with scroll */
pre {
 display:block;
 padding:5px;
 margin:0 0 10px;
 line-height:1.5;
 word-break:break-all;
 word-wrap:break-word;
 border-width: 1px;
 border-style: solid;
 border-radius:4px;
 overflow: auto;
 white-space: pre;
}

/* set table size to 100% of current div */
table.highlighttable{
  table-layout: fixed;
  width: 100%;
}

/* set column with for the line numbers */
td.linenos {
  width:40px;
  text-align: right;
}



.entry .row{
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}

.entry-thumb.four.columns{
  flex-grow: 1;
  width: 33%
}

.entry-header.eight.columns{
  flex-grow: 1;
  width: 66%
}

.entry-thumb img{
  max-width:90%;
  max-height:150px;
  height: auto;
  width:auto;
  display: block;
  border: 1px solid black;
}

body {
  line-height: 25px;
}

table.highlighttable{
  margin-top: 0px;
  margin-bottom: 10px;
}

iframe {
  width: 100%
}
