/*!
Custom CSS for CastorisCausa
This customs CSS is aimed to work with the pelican-kis theme

Raymundo Cassani
December 2019

/* Place disc indicators for ul tag in Page and Article content*/
section.page ul, div.entry-content ul {margin-left: 17px; list-style: disc}

/* Makes that strong inherits size in Page and Article content*/
section.page strong, div.entry-content strong {font-size: inherit; font-weight: bold}

/* Padding for <pre> tag, used for code to have a space around the code*/
pre {padding-left: 5px}

/* Inherits attributes for #tipue_search_input */

#tipue_search_input {
  float:inherit;
  font:inherit;
  color: #B1B1B1;
  background: #E9EBEE;
  padding: inherit;
  height: inherit;
  box-sizing: inherit;
  outline: inherit;
  margin: inherit;
}

#tipue_search_input:focus {
  background: #AFB7BE;
  color: #FFFFFF;
}

/* Adjust the color for Published and Modified dates in article info*/
.entry .entry-meta ul {
  color: #888888;
}
.entry .tags {
  margin-top: 5px;
}

/* Centers header image posts */
.post-thumb img{display: block; margin-left: auto; margin-right: auto;}

/*Sandstone colors:
Defaul:  #3e3f3a  Green-Brown
Primary: #325d88  Dark blue
Success  #93c54b  Green
Info:    #29abe0  Light blue
Warning: #f47c3c  Orange
Danger:  #d9534f  Red

#3e3f3a; Gree-Brown from Sandstone theme*/


/*
This is the Tag for:
 Automatic title in individual posts and pages
 # in Markdown files

h1 {
  color: tomato;
}
*/

/*
This is the Tag for:
 Post title in HOME
 ## in Markdown files
h2 {
  color: black;
  font-family: "Open Sans","Arial", sans-serif;
}
*/

/*
Text in:
  Summary
  Post body
p {
  color: black;
  font-size: 16px;
  font-family: "Open Sans","Arial";
}
*/

/*
In Markdown as `something`
code {
  font-size: 90%;
  color: #c7254e;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  font-weight: bold;
}
*/

/*
Hyperlinks
a {
  color: #066ea3;
}
*/

/*
This overrides the .caps in typogrify.css
  Words comprised by only caps do not change in size
.caps {
  font-size: inherit;
}
*/

/*
Color for the Navigation bar
*/
/*.navbar-default {
  background-color: #93c54b; Green
  border-color: #000000;
  min-height: 90px;
}*/

/*
Size of the box for search
#tipue_search_input{
  padding-top: 25px;
  background-position-y: 28px;
}
*/
