/*!
Custom CSS for CastorisCausa
This customs CSS is aimed to work with the pelican-boostrap3 theme
Using the boostrap3 them "sandstone"
http://bootswatch.com/sandstone/


Raymundo Cassani
April 2017

Edited by Ana TM
August 2017
 */

/*Sandstone colors:
Defaul:  #3e3f3a  Green-Brown
Primary: #325d88  Dark blue
Success  #93c54b  Green
Info:    #29abe0  Light blue
Warning: #f47c3c  Orange
Danger:  #d9534f  Red

#3e3f3a; Gree-Brown from Sandstone theme*/


/*
This is the Tag for:
 Automatic title in individual posts and pages
 # in Markdown files
*/
h1 {
  color: tomato;
}

/*
This is the Tag for:
 Post title in HOME
 ## in Markdown files
*/
h2 {
  color: black;
  font-family: "Open Sans","Arial", sans-serif;
}

/*
Text in:
  Summary
  Post body
*/
p {
  color: black;
  font-size: 16px;
  font-family: "Open Sans","Arial";
}

/*
In Markdown as `something`
*/
code {
  font-size: 90%;
  color: #c7254e;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  font-weight: bold;
}

/*
Hyperlinks
*/
a {
  color: #066ea3;
  /*font-weight: bold;*/
}


/*
This overrides the .caps in typogrify.css
  Words comprised by only caps do not change in size
*/
.caps {
  font-size: inherit;
}

/*
Color for the Navigation bar
*/
/*.navbar-default {
  background-color: #93c54b; Green
  border-color: #000000;
  min-height: 90px;
}*/

/*
Size of the box for search
*/
#tipue_search_input{
  padding-top: 25px;
  background-position-y: 28px;
}
